* {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 100vw;
  height: 100vh;
}

.error {
  text-align: center;
  color: red;
  font-size: 16px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  background-color: purple;
  width: 100vw;
  text-align: center;
  padding: 10px;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: blanchedalmond;
  padding: 10px 20px;
}
.center > input {
  min-width: 300px;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.center > button {
  width: 40px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  color: white;
  background-color: purple;
}
.center > button:hover {
  background-color: rgb(67, 171, 67);
  color: white;
  /* transition-duration: 1s; */
}
.display {
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  min-width: 300px;
  list-style: none;
  background: rgb(242, 159, 242);
  color: black;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
.item:hover{
  background-color: blanchedalmond;
  border: 1px solid  rgb(242, 159, 242); ;
}
/* .delete {
  padding: 0 8px;
  font-size: 22px;
  border: none;
  color: black;
  margin: 10px;
}
.delete:hover {
  background-color: red;
  color: white;
  transition-duration: 1s;
} */

.update {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  gap: 20px;
}
.grren-hover {
  color: black; /* Default color */
}

.green-hover:hover {
  color: green; /* Color on hover */
}

.red-hover {
  color: black; /* Default color */
}

.red-hover:hover {
  color: red; /* Color on hover */
}
.blue-hover {
  color: black; /* Default color */
}

.blue-hover:hover {
  color: blue; /* Color on hover */
}

.remove {
  margin-right: 50px;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: purple;
  border-radius: 5px;
}
.remove:hover {
  background-color: red;
}
